<div class="panel-header">
  <div class="header text-center">
    <h2 class="title">ChatBoat</h2>
    <p class="category">Please checkout the
      <a href="" target="_blank">full documentation.</a>
    </p>
  </div>
</div>
<div class="main-content">
  <div class="row">
   
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">ChatBoat</h4>
        </div>
        <div class="card-body">
      
        </div>
      </div>
    </div>
  </div>
</div>
